<!-- Main Container Starts -->
<div
  id="main-container"
  ng-controller="productsListController"
  class="container px-md-0"
>
  <!-- Breadcrumb Starts -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="..">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
    </ol>
  </nav>
  <!-- Breadcrumb Ends -->
  <!-- Main Heading Starts -->
  <h2 class="main-heading text-center">Shopping Cart</h2>
  <!-- Main Heading Ends -->
  <!-- Shopping Cart Table Starts -->
  <div class="table-responsive shopping-cart-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="text-center">Image</td>
          <td class="text-center">Product Details</td>
          <td class="text-center">Quantity</td>
          <td class="text-center">Price</td>
          <td class="text-center">Total</td>
          <td class="text-center">Action</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in getLocalData">
          <td class="text-center">
            <a ng-href="#!product-1/{{x.id}}">
              <img
                ng-src="{{x.imgSrc}}"
                alt="Product Name"
                title="Product Name"
                class="img-thumbnail"
              />
            </a>
          </td>
          <td class="text-center">
            <a ng-href="#!product-1/{{x.id}}">{{x.name}}</a>
          </td>
          <td class="text-center">
            <div class="input-group btn-block">
              <button
                type="button"
                class="btn btn-danger"
                ng-click="decrement(x); reload()"
              >
                -
              </button>
              <div class="form-control">{{x.quantity}}</div>

              <button
                type="button"
                class="btn btn-success"
                ng-click="increment(x); reload()"
              >
                +
              </button>
            </div>
          </td>
          <td class="text-center" ng-model="unitprice">${{x.price}}</td>
          <td
            class="text-center"
            ng-model="finalprice = (x.quantity) * (x.price);"
          >
            ${{finalprice}}
          </td>
          <td class="text-center">
            <button
              type="button"
              title="Remove"
              ng-click="deleteItem(x)"
              class="btn btn-default tool-tip"
            >
              <i class="fa fa-times-circle"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="6" ng-if="getLocalData.length == 0">
            You have no items in cart!
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="text-uppercase clearfix d-flex flex-align-end"
      style="justify-content: flex-end"
    >
      <a href="#!category-grid" class="btn btn-default mx-2">
        <span class="d-xs-none d-sm-none d-sm-block">Continue Shopping</span>
        <span class="d-xs-block d-sm-block d-md-none">Continue</span>
      </a>
      <button class="btn btn-success float-right" ng-click="checkoutConfirm()">
        <i class="fa fa-shopping-cart" onclick="checkoutConfirm()"></i> Checkout
      </button>
    </div>
  </div>
  <!-- Shopping Cart Table Ends -->
</div>
<!-- Main Container Ends -->
<div id="toast"></div>
