<!-- Main Container Starts -->

<div
  id="main-container"
  ng-controller="productsListController"
  class="container px-md-0"
>
  <!-- Breadcrumb Starts -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="..">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Products List</li>
    </ol>
  </nav>
  
  <!-- Breadcrumb Ends -->
  <!-- Nested Row Starts -->
  <div class="row">
    <!-- Primary Content Starts -->
    <div class="col-md-12 col-sm-12">
      <!-- Main Heading Starts -->
      <!-- <h2 class="main-heading2 page-title">Formula {{products.category}}</h2> -->
      <!-- Main Heading Ends -->
      <div class="input-group mb-3">
        <input
          type="search"
          ng-model="search"
          class="fuzzy-search form-control"
          placeholder="Search for products"
        />
      </div>
      <div class="row my-4 px-2">
        <button
          ng-repeat="cat in categories"
          class="btn btn-outline-secondary mx-2"
          ng-click="filterProductsByCategory(cat)"
        >
          {{cat}}
        </button>
      </div>
      
      <!-- Product Grid Display Starts -->
      <div class="row product-list">
        <!-- Product Starts -->
        <div
          class="col-xl-3 col-lg-4 col-md-6 col-sm-12 list"
          ng-repeat="x in myData | filter: search | filter: products.stock"
          ngFor="let img of myData.imgSrc"
        >
          <div class="product-col">
            <div class="image">
              <a ng-href="#!product-1/{{x.id}}">
                <img
                  ng-src="{{x.imgSrc}}"
                  alt="product"
                  class="img-responsive"
                />
              </a>
            </div>
            <div class="caption">
              <div class="price">
                <span class="price-new">$ {{x.price}}</span>
              </div>
              <h4><a ng-href="#!product-1/{{x.id}}">{{x.name}}</a></h4>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span><a href="#">1 review(s)</a></span>
              </div>
              <div class="cart-button button-group">
                <button
                  type="button"
                  ng-click="cloneItem(x); increment(x)"
                  onclick="showSuccessToast()"
                  class="btn btn-cart"
                >
                  <i class="fa fa-shopping-cart"></i>
                   Add to Cart
                </button>

              </div>
            </div>
          </div>
        </div>
        <!-- Product Ends -->
      </div>
      <!-- Product Grid Display Ends -->
      <!-- Pagination & Results Starts -->

      <!-- Pagination & Results Ends -->
    </div>
    <!-- Primary Content Ends -->
  </div>
  <!-- Nested Row Ends -->
</div>
<!-- Main Container Ends -->
<div id="toast"></div>