<!-- Main Container Starts -->
<div id="main-container" class="container px-md-0">
  <!-- Breadcrumb Starts -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/!">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
  </nav>
  <!-- Breadcrumb Ends -->
  <!-- Main Heading Starts -->
  <h2 class="main-heading text-center">
    Register <br />
    <span>Create New Account</span>
  </h2>
  <!-- Main Heading Ends -->
  <!-- Registration Section Starts -->
  <section
    class="registration-area"
    ng-controller="productsListController"
  >
    <div class="row">
      <div class="col-sm-12">
        <!-- Registration Block Starts -->
        <div class="panel panel-smart">
          <div class="panel-body">
            <!-- Registration Form Starts -->
            
            <form class="form" ng-model="form" name="form" role="form">
              <h3 class="panel-heading inner">Register info</h3>
              <!-- Password Area Starts -->
              <div class="form-group row">
                <label
                  for="inputUsername"
                  class="col-sm-3 col-form-label text-right"
                  >Username *</label
                >
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    id="inputUsername"
                    placeholder="Username"
                    ng-model="username"
                    autocomplete="off"
                    ng-class="{'form-error': form.username.$error}"
                    ng-required="username"
                  />
                </div>
                
              </div>
              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-3 col-form-label text-right"
                  >Password *</label
                >
                <div class="col-sm-6">
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    placeholder="Password"
                    ng-model="password"
                    ng-required="password"
                    ng-class="{'form-error': form.password.$error}"
                  />
                </div>
                
              </div>
              <div class="form-group row">
                <label
                  for="inputconfirm"
                  class="col-sm-3 col-form-label text-right"
                  >Confirm Password *</label
                >
                <div class="col-sm-6">
                  <input
                    type="password"
                    class="form-control"
                    id="inputconfirm"
                    placeholder="Confirm Password"
                    ng-model="confirm"
                    ng-required="password"
                    ng-class="{'form-error': form.confirm.$error}"
                    required
                  />
                </div>
                
              </div>
              <div class="form-group row">
                <span class="col-sm-3 col-form-label text-right"
                  >Newsletter</span
                >
                <div class="col-sm-6 row align-items-center">
                  <div class="radio ml-2 pt-2">
                    <label>
                      <input
                        type="radio"
                        name="optionsRadios"
                        id="optionsRadios1"
                        value="option1"
                        checked
                      />
                      Subscribe
                    </label>
                  </div>
                  <div class="radio ml-2 pt-2">
                    <label>
                      <input
                        type="radio"
                        name="optionsRadios"
                        id="optionsRadios2"
                        value="option1"
                      />
                      Unsubscribe
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" required /> I agree to the Terms &
                      Conditions *
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-6">
                  <button
                    type="submit"
                    class="btn btn-outline-success"
                    ng-disabled="form.$invalid"
                    ng-click="registerConfirm()"
                  >
                    Register
                  </button>
                  <img
                    ng-if="vm.dataLoading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                  />
                </div>
              </div>
              <!-- Password Area Ends -->
            </form>
            <!-- Registration Form Starts -->
          </div>
        </div>
        <!-- Registration Block Ends -->
      </div>

      <div class="col-sm-6">
        <!-- Guest Checkout Panel Starts -->
        <div class="panel panel-smart">
          <div class="panel-heading">
            <h3 class="panel-title">Checkout as Guest</h3>
          </div>
          <div class="panel-body">
            <p>Checkout as a guest instead!</p>
            <button class="btn btn-default">As Guest</button>
          </div>
        </div>
        <!-- Guest Checkout Panel Ends -->
      </div>
      <div class="col-sm-6 scroll-bar">
        <!-- Conditions Panel Starts -->
        <div class="panel panel-smart">
          <div class="panel-heading">
            <h3 class="panel-title">Conditions</h3>
          </div>
          <div class="panel-body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>Nulla volutpat aliquam velit</li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ol>
            <p>
              HTML Nullam varius, turpis et commodo pharetra, est eros bibendum
              elit, nec luctus magna felis sollicitudin mauris.
            </p>
            <p>
              Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus
              vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut
              ullamcorper, ligula eu tempor congue, eros est euismod turpis, id
              tincidunt sapien risus a quam. Maecenas fermentum consequat mi.
              Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien
              sem, aliquet nec, commodo eget, consequat quis, neque.
            </p>
            <p>
              Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing
              sapien, sed malesuada diam lacus eget erat. Cras mollis
              scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue
              lorem, dapibus quis, laoreet et, pretium ac, nisi.
            </p>
            <p>
              Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In
              hac habitasse platea dictumst.
            </p>
          </div>
        </div>
        <!-- Conditions Panel Ends -->
      </div>
    </div>
  </section>
  <!-- Registration Section Ends -->
</div>
<!-- Main Container Ends -->
<div id="toast"></div>